{% extends "layout.html" %}
{% block content %}
<script src="/scripts/jquery.expander.min.js"></script>
<style>
#header { margin-bottom: 20px; }
.container-fluid h2 { clear: both; margin: 0; padding: 15px 0 5px; font-size: 1.3em; line-height: inherit; }
#header .header-search { padding: 5px 0 0 5px; vertical-align: baseline; }
#footer { font-size: 0.7em; text-align: center; padding: 2em 0 0.5em; line-height: 1.3; }
#nav, #nav li { display: block; margin: 0; padding: 0; }
#nav li { background: #bbb; box-shadow: #222 0 1px 1px; margin: 10px 0; } 
#nav a { display: block; padding: 4px 8px; line-height: 24px; }
#nav img { width: 24px; margin-right: 10px; }
#quick-link { padding: 3px 0 0 10px; color: #444; font-style: italic }
#quick-link-name { font-weight: bold; }


.emailWrapper{
	background-color: #EEE;
	padding-left:10px;
	padding-top:5px;
	margin-bottom:5px;
}

</style>


<form id="header" class="form-search row">
	<h1>Search Helpme Archives</h1>
	<div class="input-prepend header-search">
    <span class="add-on">
        <i class="icon-search"></i>
    </span>
	<input type="search" class="span3" placeholder="Where is a fax machine..." name="query" id="filter-input">
</div>
	<span id="quick-link">Search through Helpme Archives!<span id="quick-link-name"></span></span>
</form> 

<div class="container-fluid">
 <h1>Well, that didn't go quite as planned. </h1>
	<p>
 We had an error, an email was sent to Cory, the query was logged and we will get around to fixing it at some point. </p>
 <p>
 	Feel free to send an email to ohack/Cory/whoever else is running it at somepoint, and encourage them to fix it.
 </p> 
 <img src={{url_for("static",filename="images/fail.jpg")}} alt="Whoops" style="padding:8px;background:white;">
</div> 

<p id="footer">
Launchpad 3.0 maintained by <a target="_top" href="http://ohack.us/">OHACK</a>.<br>
Launchpad 2.0 by <a target="_top" href="http://nomagicsmoke.com/" target="_blank" title="Jeffrey Stanton's Website [new window]">Jeffrey Stanton (2010)</a>.<br>
Original version by <a target="_top" href="http://www.grgmrr.com/" title="Greg Marra's Website [new window]" target="_blank">Greg Marra (2010)</a>.
</p>

{% endblock %}